$main-color-default: #2060ca
$main-color-dark: #1c1c9f
$additional-color-default: #c5e1e5
$additional-color-light: #FFFFFF
$additional-color-dark: #000000
$checked-color: #02c502
$unchecked-color: #FF0000
$invalid-color: #FF0000